<h2>
  {{title}}
</h2>
<div class="session">
  <div class="infoSection">
    <div class="row">
      <div class="label">Topic</div>
      <div class="value">{{sessionInfo.topic}}</div>
    </div>
    <div class="row">
      <div class="label">Speaker</div>
      <div class="value">{{sessionInfo.speaker}}</div>
    </div>
    <div class="row">
      <div class="label">Duration</div>
      <div class="value">{{sessionInfo.durationInMins}} minutes</div>
    </div>
  </div>
  <div class="feedbackList">
    <feedback-list></feedback-list>
  </div>
</div>
