<div class="feedbackDetails">
  <div class="row">
    <div class="column">
      <div class="label">Name</div>
      <div class="value">{{ _data.name }}</div>
    </div>
    <div class="column">
      <div class="label">Company</div>
      <div class="value">{{ _data.company }}</div>
    </div>
    <div class="column">
      <div class="label">Email</div>
      <div class="value">{{ _data.email }}</div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="label">Mobile</div>
      <div class="value">{{ _data.mobile }}</div>
    </div>
    <div class="column">
      <div class="label">Speaker Rating</div>
      <div class="value">{{ _data.speakerRating }}</div>
    </div>
    <div class="column">
      <div class="label">Training Rating</div>
      <div class="value">{{ _data.trainingRating }}</div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="label">Feedback</div>
      <div class="value">{{ _data.feedback }}</div>
    </div>
    <div class="column">
      <div class="label">Suggestions</div>
      <div class="value">{{ _data.suggestions }}</div>
    </div>
  </div>
</div>
